
    .caja-semaforo{
        padding:10px;
        border:1px solid black;
        border-radius:40px;
        width: 100px;
        margin: 0 auto;
        background-color: rgb(50,50,50);


    }
    .luz-semaforo{
        width:50px;
        height:50px;
        border-radius:50%;
        background-color: gray;
        border:2px black;
        padding: 10px;
        margin: 0 auto;
        margin-top:10px;
        margin-bottom:10px;
    }
    .centrar{
        text-align:center;
        margin-top:20px;             
    }
    .boton{
        background-color:green;
        color:white;
        padding:10px;
        border-radius:5px;   
    }
    .boton:hover {
        background-color: blue;              
    }
    